
@{
    ViewBag.Title = "Form";
}
@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}
<br />
<br />
<div class="container">
<form method="post" action="Form">
    <span class="form-control-static">Receiver email :</span>
    <input class="form-control" type="text" name="receiverEmail" />
    <span class="form-control-static">Subject</span>
    <input class="form-control" type="text" name="subject" />
    <span class="form-control-static">Message</span>
    <input class="form-control" type="text" name="message" />
    <br />
    <br />
    <button type="submit">Send Email</button>
</form>
</div>