
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Amin/Views/Shared/_Layout.cshtml";
}
@section  header{
    Lỗi không có quyền
    }
<div class="alert alert-danger">
    Bạn không có quyền truy cập
</div>

